Source: openshr
Maintainer: Ryan Crichton <ryan@jembi.org>
Section: web
Priority: optional
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7)
Homepage: https://github.com/jembi/openshr


Package: openshr
Architecture: all
Depends: oracle-java8-installer, mysql-client, mysql-server, debconf, postgresql
Recommends: 
Description: OpenHIE Shared Health Record for storing patient clinical data
 The OpenSHR is a shared health record (SHR) that allows clinical data to be
 stored in a central location within a health information exchange (HIE).
 OpenSHR implements the IHE XDS.b profile for receiving and retrieving
 clinical documents about a particular patient. The OpenSHR features as part
 of the OpenHIE initiative (http://ohie.org).
